/* Montserrat Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* * {
  outline: solid 1px red;
} */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue";
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
  font-size: 5em;
  margin: 0px;
  padding: 0px;
}

.mobile {
  width: 100vw;
  height: 100vh;
  background-color: #14b8a6;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.mobile img {
  position: absolute;
  width: 80vw;
}

.mobile svg {
  position: absolute;
  fill: white;
  opacity: 25%;
  bottom: 5%;
  width: 20vw;
}

.mob-menu {
  display: none;
  backdrop-filter: blur(2px);
  background-color: #14b8a5a4;
  color: white;
  width: 100%;
  height: 11%;
  z-index: 1;
}

.mob-flex {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.mob-flex a {
  text-decoration: none;
  color: white;
}

.screen {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen-topright {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
}

#screen-botleft {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  fill: white;
  display: flex;
}

#screen-botleft svg {
  width: 50px;
}

#screen-botright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 50px;
}

.screen a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding-right: 20px;
}

.screen img {
  position: absolute;
  width: 40vw;
}

.screen video {
  width: 100vw;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container img:hover {
  scale: 110%;
  transition: scale 600ms ease-in-out;
}

.grid-container img:not(:hover) {
  scale: 100%;
  transition: scale 600ms ease-in-out;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 60px;
}

.grid-container div {
  border-radius: 5px;
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-container div > video {
  width: 100%;
}

.modal {
  backdrop-filter: blur(5px);
  position: fixed;
  background-color: rgba(27, 27, 27, 0.925);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#modalExit {
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.modal-content {
  width: 80vw;
  height: 80vh;
  position: absolute;
  z-index: 3;
  object-fit: contain;
}

.arrows {
  width: 50px;
  fill: rgba(255, 255, 255, 0.199);
  z-index: 4;
}

.arrows:hover {
  fill: rgba(255, 255, 255, 0.459);
  transition: fill 400ms;
}

#leftArrow {
  position: absolute;
  left: 50px;
}

#rightArrow {
  position: absolute;
  right: 50px;
}

.hidden {
  display: none;
}

.blurb-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-areas:
    "code-img code-desc"
    "graphic-desc graphic-img"
    "user-img user-desc"
    "render-desc render-img"
    "chat-img chat-desc"
    "video-desc video-img";
}

.blurb-container div {
  overflow: hidden;
  color: #030712;
}

.blurb-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blurb-container h2 {
  font-size: 2em;
  margin: 0px;
}

.blurb-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

.button-style {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #14b8a6;
  border: solid 2px #14b8a6;
  border-radius: 999px;
  padding: 1em;
  text-decoration: none;
  color: white;
}

.button-style:hover {
  box-shadow: 0px 2px 22px 0px #14b8a54b;
  transition: box-shadow 200ms;
}
.blurb-container a:not(hover) {
  box-shadow: 0px 0px 0px 0px #14b8a575;
  transition: box-shadow 200ms;
}

.blurb-container ul {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

.crop {
  max-height: 600px;
}

.blurb-colour {
  background-color: #f9fafb;
}

.blurb-colour > div {
  padding: 60px;
}

.blurb-colour > div > div {
  margin-bottom: 20px;
}

#paranormal {
  width: 100%;
  margin-bottom: -20px;
}

#RL {
  width: 100%;
  margin-bottom: -20px;
}

.about-me {
  margin-top: 12vh;
  padding: 20px;
  text-align: center;
  max-width: 700px;
}

.about-me img {
  max-width: 30vw;
}

.about-me p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

model-viewer {
  width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  .blurb-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "code-desc"
      "code-img"
      "graphic-desc"
      "graphic-img"
      "user-desc"
      "user-img"
      "render-desc"
      "render-img"
      "chat-desc"
      "chat-img"
      "video-desc"
      "video-img";
  }

  .blurb-colour > div {
    padding: 30px;
    margin-bottom: 20px;
  }
  .crop {
    max-height: none;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .grid-container div {
    border-radius: 0px;
    width: 33vw;
    height: 33vw;
  }
  .screen {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .mob-menu {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
  }

  .hidden-mobile {
    display: none;
  }
}
